@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;

  --secondary-rgb: 255, 255, 255;
  /* grey */
  --background-start-rgb: 255, 255, 255;

  /* grey */
  --background-end-rgb: 200, 200, 200;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));

    overflow-x: hidden;
}

.white-box {
  background-color:rgba(255, 255, 255, 0.7);
  padding: 10px; /* Adjust padding as needed */
  border-radius: 5%;
}

.flex-row {
  display: flex;
  flex-direction: row; /* Make sure it's set to row */
}